; Set a new registry for a scoped package
# @NAMESPACE:registry=https://npm.pkg.github.com
# @f88=https://npm.pkg.github.com

# save-exact = true
# save-prefix = "~"

# tag-version-prefix = ""

sign-git-tag = true
message = "chore(release): %s"
