# OS
.DS_Store

# IDE
.vscode
.idea

# Build outputs
.next/
out/
build/
dist/
coverage/

# Dependencies
node_modules/

# Storybook build
storybook-static/

# Misc
package-lock.json
renovate.json
tools/prompts/*


# Logs
*.log

# Temporary ignore files
# src/App.tsx
# src/lib/repository/promidas-repository-manager.test.ts
# src/components/game/game-flow.tsx
# src/components/tatami/tatami-view-container.tsx
# src/hooks/useGameSetup.ts
# src/components/tatami/tori-fuda-card-touch.stories.tsx
# src/lib/karuta/deck/deck-recipe-manager.ts
src/hooks/useGameSetup.ts

